<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Generar Recibos de Nómina
      </h1>
    </div>
    <div class="panel-body">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
          <div class="col-sm-6">
            <label class="text-left control-label">Periodo:</label>
            <p-calendar [(ngModel)]="generarRecibos.fd_FechaPeriodo"
                        view="month"
                        dateFormat="mm/yy"
                        [yearNavigator]="true"
                        [yearRange]="yearRangeDesde"
                        [readonlyInput]="true"></p-calendar>
          </div>
          <div class="col-sm-6">
            <button type="button" pButton icon="fa fa-bolt" iconPos="left" label="Generar Recibos" (click)="genarateRecibos()"></button>
          </div>
        </div>
      </div>
      <br />
      <p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
