<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Empleados
      </h1>
    </div>
    <div class="panel-body">
      <div *ngIf="!isEdit">
        <div class="row">
          <div class="col-sm-12">
            <button [disabled]="empleadosForBulkDelete.length == 0" class="btn btn-danger" (click)="bulkDelete()">
              <i class="fa fa-trash" aria-hidden="true"> Borrar Seleccionado(s)</i>
            </button>
            <button class="btn btn-info" (click)="newEmpleado()">
              <i class="fa fa-plus" aria-hidden="true"> Nuevo Empleado</i>
            </button>
          </div>
        </div>
        <br />
        <p-table #dt [columns]="cols" [value]="empleadosArray" [paginator]="true" [rows]="10">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
              <div class="col-sm-6 text-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
              <div class="col-sm-6 text-right">
                <button type="button" pButton icon="fa fa-download" iconPos="left" label="Exportar Todo" (click)="dt.exportCSV()"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:25%">Opciones</th>
              <th *ngFor="let col of columns" class="{{col.class}}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <input type="checkbox" #check (click)="addTobulk(rowData)">
                <button class="btn btn-info" (click)="getEmpleadoDetail(rowData)">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteEmpleado(rowData)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="isEdit">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Empleado</legend>
          <form [formGroup]="empleadoForm" (ngSubmit)="validateExistEmpleado(empleadoSelected)">
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fc_Nombre').touched}">
                <label class="control-label">Nombre*</label>
                <input type="text"
                       [(ngModel)]="empleadoSelected.fc_Nombre"
                       formControlName="fc_Nombre"
                       class="form-control"
                       placeholder="Nombre"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': empleadoForm.get('fc_Nombre').errors
     && empleadoForm.get('fc_Nombre').touched}"></span>
                <div *ngIf="empleadoForm.get('fc_Nombre').errors   && empleadoForm.get('fc_Nombre').touched"
                     class="errorMessage">
                  <div *ngIf="empleadoForm.get('fc_Nombre').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="empleadoForm.get('fc_Nombre').errors.minlength || empleadoForm.get('fc_Nombre').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fc_ApellidoPaterno').touched}">
                <label class="control-label">Apellido Paterno*</label>
                <input type="text"
                       [(ngModel)]="empleadoSelected.fc_ApellidoPaterno"
                       formControlName="fc_ApellidoPaterno"
                       class="form-control"
                       placeholder="Apellido Paterno"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': empleadoForm.get('fc_ApellidoPaterno').errors
     && empleadoForm.get('fc_Nombre').touched}"></span>
                <div *ngIf="empleadoForm.get('fc_ApellidoPaterno').errors   && empleadoForm.get('fc_ApellidoPaterno').touched"
                     class="errorMessage">
                  <div *ngIf="empleadoForm.get('fc_ApellidoPaterno').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="empleadoForm.get('fc_ApellidoPaterno').errors.minlength || empleadoForm.get('fc_ApellidoPaterno').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fc_ApellidoMaterno').touched}">
                <label class="control-label">Apellido Materno*</label>
                <input type="text"
                       [(ngModel)]="empleadoSelected.fc_ApellidoMaterno"
                       formControlName="fc_ApellidoMaterno"
                       class="form-control"
                       placeholder="Apellido Materno"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': empleadoForm.get('fc_ApellidoMaterno').errors
     && empleadoForm.get('fc_Nombre').touched}"></span>
                <div *ngIf="empleadoForm.get('fc_ApellidoMaterno').errors   && empleadoForm.get('fc_ApellidoMaterno').touched"
                     class="errorMessage">
                  <div *ngIf="empleadoForm.get('fc_ApellidoMaterno').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="empleadoForm.get('fc_ApellidoMaterno').errors.minlength || empleadoForm.get('fc_ApellidoMaterno').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fd_FechaIngreso').touched}">
                <label class="control-label">Fecha Ingreso:*</label><br />
                <p-calendar [(ngModel)]="empleadoSelected.fd_FechaIngreso"
                            formControlName="fd_FechaIngreso"
                            inputStyleClass="form-control"
                            dateFormat="dd/mm/yy"
                            [yearNavigator]="true"
                            [readonlyInput]="true"></p-calendar>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fn_IngresoBase').touched}">
                <label class="control-label">Ingreso Base*</label>
                <input type="text"
                       [(ngModel)]="empleadoSelected.fn_IngresoBase"
                       formControlName="fn_IngresoBase"
                       class="form-control"
                       placeholder="Ingreso Base"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': empleadoForm.get('fn_IngresoBase').errors
     && empleadoForm.get('fn_IngresoBase').touched}"></span>
                <div *ngIf="empleadoForm.get('fn_IngresoBase').errors   && empleadoForm.get('fn_IngresoBase').touched"
                     class="errorMessage">
                  <div *ngIf="empleadoForm.get('fn_IngresoBase').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="empleadoForm.get('fn_IngresoBase').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="empleadoForm.get('fn_IngresoBase').errors.pattern">
                    Introduzca un número válido.
                  </div>
                  <div *ngIf="empleadoForm.get('fn_IngresoBase').errors.minlength || empleadoForm.get('fn_IngresoBase').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fn_DeduccionDesayuno').touched}">
                <label class="control-label">Deducción Desayuno*</label>
                <input type="text"
                       [(ngModel)]="empleadoSelected.fn_DeduccionDesayuno"
                       formControlName="fn_DeduccionDesayuno"
                       class="form-control"
                       placeholder="Deduccion Desayuno"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': empleadoForm.get('fn_DeduccionDesayuno').errors
     && empleadoForm.get('fn_DeduccionDesayuno').touched}"></span>
                <div *ngIf="empleadoForm.get('fn_DeduccionDesayuno').errors   && empleadoForm.get('fn_DeduccionDesayuno').touched"
                     class="errorMessage">
                  <div *ngIf="empleadoForm.get('fn_DeduccionDesayuno').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="empleadoForm.get('fn_DeduccionDesayuno').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="empleadoForm.get('fn_DeduccionDesayuno').errors.pattern">
                    Introduzca un número válido.
                  </div>
                  <div *ngIf="empleadoForm.get('fn_DeduccionDesayuno').errors.minlength || empleadoForm.get('fn_DeduccionDesayuno').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fn_DeduccionAhorro').touched}">
                <label class="control-label">Deducción Ahorro*</label>
                <input type="text"
                       [(ngModel)]="empleadoSelected.fn_DeduccionAhorro"
                       formControlName="fn_DeduccionAhorro"
                       class="form-control"
                       placeholder="Deduccion Desayuno"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': empleadoForm.get('fn_DeduccionAhorro').errors
     && empleadoForm.get('fn_DeduccionAhorro').touched}"></span>
                <div *ngIf="empleadoForm.get('fn_DeduccionAhorro').errors   && empleadoForm.get('fn_DeduccionAhorro').touched"
                     class="errorMessage">
                  <div *ngIf="empleadoForm.get('fn_DeduccionAhorro').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="empleadoForm.get('fn_DeduccionAhorro').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="empleadoForm.get('fn_DeduccionAhorro').errors.pattern">
                    Introduzca un número válido.
                  </div>
                  <div *ngIf="empleadoForm.get('fn_DeduccionAhorro').errors.minlength || empleadoForm.get('fn_DeduccionAhorro').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fi_Role').touched}">
                <label class="control-label">Nivel*</label>
                <select class="form-control" formControlName="fi_Role" required [(ngModel)]="empleadoSelected.fi_Role">
                  <option value="0">Seleccione un Role...</option>
                  <option value="1">Administrativo</option>
                  <option value="2">Empleado</option>
                </select>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fc_Email').touched}">
                <label class="control-label">Email*</label>
                <input type="text"
                       [(ngModel)]="empleadoSelected.fc_Email"
                       formControlName="fc_Email"
                       class="form-control"
                       placeholder="Email"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': empleadoForm.get('fc_Email').errors
     && empleadoForm.get('fc_Email').touched}"></span>
                <div *ngIf="empleadoForm.get('fc_Email').errors   && empleadoForm.get('fc_Email').touched"
                     class="errorMessage">
                  <div *ngIf="empleadoForm.get('fc_Email').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="empleadoForm.get('fc_Email').errors.minlength || empleadoForm.get('fc_Email').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fc_Password').touched}">
                <label class="control-label">Password*</label>
                <input type="password"
                       [(ngModel)]="empleadoSelected.fc_Password"
                       formControlName="fc_Password"
                       class="form-control"
                       placeholder="Password"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': empleadoForm.get('fc_Password').errors
     && empleadoForm.get('fc_Password').touched }"></span>
                <div *ngIf="empleadoForm.get('fc_Password').errors && empleadoForm.get('fc_Password').touched"
                     class="errorMessage">
                  <div *ngIf="empleadoForm.get('fc_Password').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="empleadoForm.get('fc_Password').errors.minlength || empleadoForm.get('fc_Password').errors.maxlength">
                    Introduzca un texto válido min 6 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !empleadoForm.get('fc_ConfirmPassword').touched}">
                <label class="control-label">Conf. Password*</label>
                <input type="password"
                       [(ngModel)]="empleadoSelected.fc_ConfirmPassword"
                       formControlName="fc_ConfirmPassword"
                       class="form-control"
                       placeholder="Conf Password"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': empleadoForm.get('fc_ConfirmPassword').errors
     && empleadoForm.get('fc_ConfirmPassword').touched}"></span>
                <div *ngIf="empleadoForm.get('fc_ConfirmPassword').errors   && empleadoForm.get('fc_ConfirmPassword').touched"
                     class="errorMessage">
                  <div *ngIf="empleadoForm.get('fc_ConfirmPassword').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="empleadoForm.get('fc_ConfirmPassword').errors.minlength || empleadoForm.get('fc_ConfirmPassword').errors.maxlength">
                    Introduzca un texto válido min 6 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-5 text-left">
                <button type="button" class="btn btn-default" (click)="isEdit = false">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="empleadoForm.status!=='VALID'">Guardar</button>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
      <br />
      

      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
