<div class="content-title">
  <h3 class="main-title">Inicio</h3>
</div>
<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-body">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="text-center">
            <h1>NOMINA ARKUS NEXUS</h1>
          </div>
        </div>
      </div>
      <div class="row clearfix logo">
        <div class="col-md-12 column">
          <div class="text-center">
            <img src="../../assets/images/logo.png" height="250" class="rounded" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
