<div>
  <div *ngIf="isLogedIn" id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
    <header id="hoe-header" hoe-lpanel-effect="shrink">
      <div class="hoe-left-header">
        <a><i class="fa fa-money"></i> <span>Arkus Nexus</span></a>
        <span class="hoe-sidebar-toggle"><a></a></span>
      </div>

      <div class="hoe-right-header" hoe-position-type="relative" hoe-color-type="header-bg2">
        <span class="hoe-sidebar-toggle"><a></a></span>

        <!--@*Perfil*@-->
        <ul class="right-navbar">
          <li class="dropdown hoe-rheader-submenu hoe-header-profile">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <span><img class="img-circle " src="../assets/images/user.png"></span>
              <span>{{mainService.nombreUsuario}} <i class=" fa fa-angle-down"></i></span>
            </a>
            <ul class="dropdown-menu ">
              <li><a (click)="logout()"><i class="fa fa-power-off"></i>Salir</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </header>
    <!--@*Menú Lateral*@-->
    <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
      <aside id="hoe-left-panel" hoe-position-type="absolute">
        <ul class="nav panel-list">
          <li class="Menu">
            <a [routerLink]='["/menu"]'>
              <i class="fa fa-home"></i>
              <span class="menu-text">Inicio</span>
              <span class="selected"></span>
            </a>
          </li>
          <li class="menu">
            <a [routerLink]='["/miNomina"]'>
              <i class="fa fa-money"></i>
              <span class="menu-text">Mis Recibos de N&oacute;mina</span>
              <span class="selected"></span>
            </a>
          </li>
          <li *ngIf="mainService.nivelEmpleado == 1" class="menu">
            <a [routerLink]='["/empleados"]'>
              <i class="fa fa-users"></i>
              <span class="menu-text">Empleados</span>
              <span class="selected"></span>
            </a>
          </li>
          <li *ngIf="mainService.nivelEmpleado == 1" class="menu">
            <a [routerLink]='["/generarRecibos"]'>
              <i class="fa fa-cog"></i>
              <span class="menu-text">Generar Recibos</span>
              <span class="selected"></span>
            </a>
          </li>
        </ul>
      </aside>
      <section id="main-content">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>
<div>
  <router-outlet name="deslogueado"></router-outlet>
</div>
