<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Arkus Nexus </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/images/logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text"
             id="login"
             class="fadeIn second"
             name="login"
             placeholder="username"
             formControlName="email"
             [(ngModel)]="loginModel.email">
      <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': loginForm.get('email').errors
     && loginForm.get('email').touched}"></span>
      <div *ngIf="loginForm.get('email').errors   && loginForm.get('email').touched"
           class="errorMessage">
        <div *ngIf="loginForm.get('email').errors.required">
          Este Campo es Requerido.
        </div>
        <div *ngIf="loginForm.get('email').errors.minlength || loginForm.get('email').errors.maxlength">
          Introduzca un texto válido min 1 caracter y max 10 caracteres.
        </div>
      </div>


      <input type="password"
             id="password"
             class="fadeIn third"
             name="login"
             placeholder="password"
             formControlName="password"
             [(ngModel)]="loginModel.password">
      <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': loginForm.get('password').errors
     && loginForm.get('password').touched}"></span>
      <div *ngIf="loginForm.get('password').errors   && loginForm.get('password').touched"
           class="errorMessage">
        <div *ngIf="loginForm.get('password').errors.required">
          Este Campo es Requerido.
        </div>
        <div *ngIf="loginForm.get('password').errors.minlength || loginForm.get('password').errors.maxlength">
          Introduzca un texto válido min 1 caracter y max 10 caracteres.
        </div>
      </div>

      <p *ngIf="showLoginError" class="errorMessage">Usuario y/o Contraseña incorrecta. Intenta de nuevo</p>
      <br />
      <input [disabled]="loginForm.status!=='VALID'" type="submit" class="fadeIn fourth" value="Log In">


    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
