<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        {{mainService.nombreEmpleado}}
      </h1>
    </div>
    <div class="panel-body">
      <div *ngIf="!isEdit">
        <br />
        <p-table #dt [columns]="cols" [value]="reciboNominasArray" [paginator]="true" [rows]="10">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
              <div class="col-sm-6 text-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>              
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:25%">Opciones</th>
              <th *ngFor="let col of columns" class="{{col.class}}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <button class="btn btn-info" (click)="getReciboNominaDetail(rowData)">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
              </td>
              <td *ngFor="let col of columns">
                {{rowData[col.field] | monthTransform }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="isEdit" class="col-sm-6 col-sm-offset-3">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">{{reciboNominaSelected.fd_FechaPeriodo | monthTransform}}</legend>

          <div class="row">
            <div class="col-sm-9 text-left">
              <label class="control-label">Ingreso Base</label>
            </div>
            <div class="col-sm-3 text-right">
              <label class="control-label">{{reciboNominaSelected.fn_IngresoBase | currency}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 text-left">
              <label class="control-label">Pr&eacute;stamos</label>
            </div>
            <div class="col-sm-3 text-right">
              <label class="control-label">{{reciboNominaSelected.fn_Prestamos | currency}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 text-left">
              <b><label class="control-label">Total Percepciones</label></b>
            </div>
            <div class="col-sm-3 text-right">
              <label class="control-label">{{reciboNominaSelected.fn_TotalPercepciones | currency}}</label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-9 text-left">
              <label class="control-label">Retenci&oacute;m por Ahorro</label>
            </div>
            <div class="col-sm-3 text-right">
              <label class="control-label">{{reciboNominaSelected.fn_Ahorro | currency}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 text-left">
              <label class="control-label">Desayunos</label>
            </div>
            <div class="col-sm-3 text-right">
              <label class="control-label">{{reciboNominaSelected.fn_Desayunos | currency}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 text-left">
              <label class="control-label">Tarjeta Gasolina</label>
            </div>
            <div class="col-sm-3 text-right">
              <label class="control-label">{{reciboNominaSelected.fn_Gasolina | currency}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 text-left">
              <b><label class="control-label">Total Deducciones</label></b>
            </div>
            <div class="col-sm-3 text-right">
              <label class="control-label">{{reciboNominaSelected.fn_TotalDeducciones | currency}}</label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-9 text-left">
              <b><label class="control-label">Depositado</label></b>
            </div>
            <div class="col-sm-3 text-right text-success">
              <label class="control-label">{{reciboNominaSelected.fn_TotalGeneral | currency}}</label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-5 text-left">
              <button type="button" class="btn btn-default" (click)="isEdit = false">Cancelar</button>              
            </div>
          </div>
        </fieldset>
      </div>
      <br />      
    </div>
  </div>
</div>
